/***********************************************/
/** Media Queries for larger views *************/
/***********************************************/

@media (min-width: 37.5em) {
    nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    nav div {
      display: none;
    }
  
    nav ul {
      flex-direction: row;
    }
  
    nav li {
      flex: 1;
    }
  
    nav a {
      font-size: 1.1rem;
      padding: 15px 20px;
    }
  
    main {
      grid-template-columns: 1fr 1fr 1fr;
    }
  
    main picture {
      display: block;
    }
  }
  
  @media (min-width: 48em) {
    nav a {
      font-size: 1.3rem;
    }
  }