@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Roboto:wght@700&display=swap");
body{
    font-family: Roboto, Helvetica, sans-serif;
}
table{
    width: 60%;
    margin: 7rem auto;
    border-collapse: collapse;
    border: thin solid black;
    background-color: #FFFEF7;
}
caption{
    font-size: .85rem;
    color: #708080;
    caption-side: bottom;
    padding: 5px;
}
th, td{
    padding: 15px;
    border: 1px solid #708080;
    text-align: center;
}
th{
    background-color: #708080;
    color: white;
}
th:nth-child(2),th:nth-child(3),th:nth-child(4){
    background:  rgba(54, 69, 79, 0.15);
    color: #708080;
}
tbody tr:nth-child(2) {
	background-color:  rgba(54, 69, 79, 0.15);
}