* {
  margin: 5px;
  
}

header,
main,
footer {
  display: block;
}

body {
  font-size: 16px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

p {
  font-size: 1rem;
  padding: 0.5rem;
}

h1 {
  font-size: 3rem; /* 3 times the body text */
}

h2 {
  font-size: 2rem; /* 2 times the body text */
  /
}

h3 {
  font-size: 1.5rem; /* 1 ½ times the body text */
}

figcaption {
  font-size: 0.75rem; /* ¾ of the body text */
}

#container {
  max-width: 100%; /* Set your desired maximum width */
  margin: 0 auto;
  
  grid-template-rows: 3fr 1fr;

  
}

#upperheader {
  display: grid;
  grid-template-columns: 5fr 1fr 12fr;
}

#lowerheader {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  
  box-shadow: 0 0 10px #333;
  background: rgba(54, 69, 79, 0.15);
  
}

#container img {
  height: 3.5rem;
}

#container h1 {
  font-size: 1.5rem;
}

#container h3 {
  font-size: 1rem;
}

header,
footer {
  background-color: #708080;
  
  padding: 0 0 1px 0;
  color: #fff;
}

footer img {
  height: 2.5rem;
  /* padding: 5px 0 0 0; */
}

.logo {
  grid-column-start: 1;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  padding: 0px;
  
  color: #fff;

  
}




.navbar {
  
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
  text-decoration: none;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.navbar-menu li {
  margin-right: 15px;
}

.navbar-menu li a {
  color: #fff;
  text-decoration: none;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

#amalink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
}

.site-name {
  
  margin: 0;
}

.links {
  
  font-size: 1rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}



.links li {
  list-style-type: none;
}

nav a:hover {
  background-color: #708080;
  color: yellow;
}


footer {
  display: grid;
  
}

.footer-container {
  display: grid;
  grid-template-rows: 3fr 1fr;
  padding: 0;
}

#footerupper {
  display: grid;
  grid-template-columns: 5fr 4fr;
  justify-content: space-between;
}


#footerupper img {
  height: 3.5rem;
}

#footerupper h1 {
  font-size: 1.0rem;
  font-weight: normal;
}

#footerupper h2 {
  font-size: 0.95rem;
  font-weight: normal;
}

#footerupper h3 {
  font-size: 0.75rem;
  font-weight: normal;
}

#footerupper {
  font-size: 0.65rem;
}

address {
  text-align: right;
  padding: 0 5px 0 0;
}

.footercopyright {
  font-size: 0.75rem;
  padding: 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-top: 1px dashed #36454f;
  background: rgba(54, 69, 79, 0.25);
}



/* Navigation Bar Styles */
.navbar {
 
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
  text-decoration: none;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.navbar-menu li {
  margin-right: 15px;
}

.navbar-menu li a {
  color: #fff;
  text-decoration: none;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
}


/* DISCOVER PAGE */

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-container img {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  opacity: 0; /* set initial opacity to 0 */
  transition: opacity 0.3s ease-in-out; /* add transition effect */
}

.image-container img.loaded {
  opacity: 1; /* set opacity to 1 when image is loaded */
}

.image-container p {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.image-container img:hover {
  transform: scale(1.1); /* add hover effect */
}
