/* Styles for large-sized viewports */

@media only screen and (min-width: 992px) {
    /* Set the font size to 18px */
    * {
      margin: 5px;
      /* padding: auto; */
      /* box-sizing: border-box; */
    }
    
    header,
    main,
    footer {
      display: block;
    }
    
    body {
      font-size: 16px;
      padding: 10px;
      font-family: "Roboto", sans-serif;
      background-color: #f2f2f2;
      color: #333;
    }
    
    p {
      font-size: 1rem;
      padding: 0.5rem;
    }
    
    h1 {
      font-size: 3rem; /* 3 times the body text */
    }
    
    h2 {
      font-size: 2rem; /* 2 times the body text */
      /* padding: 0.15rem; */
      /* color: #536878; */
    }
    
    h3 {
      font-size: 1.5rem; /* 1 ½ times the body text */
    }
    
    figcaption {
      font-size: 0.75rem; /* ¾ of the body text */
    }
    
    #container {
      max-width: 100%; /* Set your desired maximum width */
      margin: 0 auto;
      /* display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px; */
    
      grid-template-rows: 3fr 1fr;
    
      /* border-style: solid;
      border-radius: 1px;
      border-color: red; */
    }
    
    #upperheader {
      display: grid;
      grid-template-columns: 5fr 1fr 12fr;
    }
    
    #lowerheader {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      /* background-color: #36454f;  */
       /* background-color: #FFA07A; */
      box-shadow: 0 0 10px #333;
      background: rgba(54, 69, 79, 0.25);
      
    }
    
    #container img {
      height: 3.5rem;
    }
    
    #container h1 {
      font-size: 1.5rem;
    }
    
    #container h3 {
      font-size: 1rem;
    }
    
    header,
    footer {
      background-color: #708080;
      /* background-color: #E9967A; */
      /* display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center; */
      padding: 0 0 1px 0;
      color: #fff;
    }
    
    footer img {
      height: 2.5rem;
      /* padding: 5px 0 0 0; */
    }
    
    .logo {
      grid-column-start: 1;
      display: flex;
      flex-direction: row;
      align-items: left;
      justify-content: left;
      padding: 0px;
      /* background-color: #333; */
      color: #fff;
    
      /* border-color: red;
      border-style: solid; */
    }
    
    #amalink {
      display: grid;
      grid-template-columns: auto;
    }
    
    .site-name {
      /* font-size: 30px;
      font-weight: bold; */
      margin: 0;
    }
    
    .links {
      /* font-size: 8px; */
      font-size: 1rem;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }
    
    nav {
      /* background-color: #36454f; */
      text-align: center;
      /* box-shadow: 0 0 30px #333; */
      display: flex;
      flex-direction: row;
      align-items: center;
      /* margin: 10px 0; */
    }
    
    .hamburger {
      display: block;
      background-color: transparent;
      color: #fff;
      font-size: 24px;
      border: none;
      cursor: pointer;
    }
    
    /* nav div {
      flex: 1 1 auto;
    } */
    /* 
    nav a {
      display: block;
      color: #f7d04b;
      text-align: center;
      padding: 15px;
      text-decoration: none;
      font-size: 0.9rem;
    } */
    
    .links li {
      list-style-type: none;
    }
    
    nav a:hover {
      background-color: #708080;
      color: yellow;
    }
    
    main {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      align-items: right;
      justify-content: center;
      /* padding: 10px; */
    
    
      font-size: 0.85rem;
      padding: 5px;
      /* border-color: red;
      border-style: solid; */
    }
    
    main .submenu {
      margin: 1rem;
      border: 1px solid #bbb;
      padding: 1rem;
      background-color: #eee;
    }
    
    .submenu ul {
      margin-left: 2rem;
    }
    
    main picture {
      display: none;
      margin: 1rem;
    }
    
    main article {
      margin: 1rem;
    }
    
    footer {
      display: grid;
      /* padding: 1rem; */
      /* grid-template-rows: 3fr 1fr; */
      /* align-items: center;
      justify-content: space-between;
      font-weight: 700; */
    }
    
    .footer-container {
      display: grid;
      /* padding: 1rem; */
      grid-template-rows: 3fr 1fr;
      padding: 0;
    }
    
    #footerupper {
      display: grid;
      grid-template-columns: 5fr 4fr;
      justify-content: space-between;
    }
    
    
    #footerupper img {
      height: 3.5rem;
    }
    
    #footerupper h1 {
      font-size: 1.0rem;
      font-weight: normal;
    }
    
    #footerupper h2 {
      font-size: 0.95rem;
      font-weight: normal;
    }
    
    #footerupper h3 {
      font-size: 0.75rem;
      font-weight: normal;
    }
    
    #footerupper {
      font-size: 0.65rem;
    }
    
    address {
      text-align: right;
      padding: 0 5px 0 0;
    }
    
    /* .footercopyright {
      font-size: 0.75rem;
      padding: 0;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      border-top: 1px dashed #80461B;
    } */
    
    /* .nav-links {
      display: none;
      list-style: none;
      }
      
      .nav-links li {
      margin: 0 10px;
      }
      
      .nav-links a {
      color: #fff;
      text-decoration: none;
      } */
    
    /* now designing the three sections of the main content */
    
    #left-side {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: -05px;
      margin-bottom: -05px;
      /* border: solid; */
      /* border-style: solid;
      border-width: 1em;
      border-color: blue; */
    }
    
    #central {
      display: grid;
      grid-template-rows: 2fr 1fr;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: -05px;
      margin-bottom: -05px;
      /* border: solid;
      border-style: solid;
      border-width: 1em;
      border-color: blue; */
    }
    
    #right-side {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      border-style: solid;
      border-width: 0.1em;
      border-color: rgba(54, 69, 79, 0.5);
      background: rgba(54, 69, 79, 0.15);
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      /* border: solid;
      border-style: solid;
      border-width: 1em;
      border-color: blue; */
    }
    
    /* styling the main box */
    
    /* left side */
    
    #left-side section {
      padding: 0.5px;
      /* margin: 5px; */
      background: rgba(54, 69, 79, 0.15);
      /* background-color: #36454f;
      opacity: .5; */
    
    
      border-style: solid;
      border-width: 0.1em;
      border-color: rgba(54, 69, 79, 0.5);
    
    }
    
    /* middle part */
    
    #central section {
      padding: 0.15px 0 0 0;
      /* margin: 5px; */
      background: rgba(54, 69, 79, 0.15);
      /* background-color: #36454f;
      opacity: .5; */
    
    
      border-style: solid;
      border-width: 0.1em;
      border-color: rgba(54, 69, 79, 0.5);
    
    }
    
    
    #right-side section {
      background: rgba(54, 69, 79, 0.15);
      padding: 0;
      /* margin: 1px; */
      /* background-color: #36454f;
      opacity: .5; */
    
    
      border-style: solid;
      border-width: 0.1em;
      border-color: rgba(54, 69, 79, 0.5);
    }
    
    .spotlights1 {
      margin: 5px 5px -1px 5px;
    }
    
    .spotlights2 {
      margin: -1px 5px -1px 5px;
    }
    
    .spotlights3 {
      margin: -1px 5px 5px 5px;
    }
    
    
  
  }
  