/* Styles for medium-sized viewports */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Set the font size to 16px */
html {
    font-size: 16px;
  }
  
  /* Increase the font size of the navigation links */
  nav a {
    font-size: 1.2rem;
  }
  
  /* Set the width of the navigation links to 100% */
  nav a {
    display: block;
    width: 100%;
  }
  
  /* Hide the navigation menu */
  nav ul {
    display: none;
  }
  
  /* Show the navigation menu when the hamburger button is clicked */
  nav .hamburger:checked ~ ul {
    display: block;
  }
  
  /* Hide the hamburger button in the large view */
  .hamburger {
    display: none;
  }
  
  }
  